.clients-container {
    width: 84%;
    margin-top: -650px;
    margin-left: 195px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
}

/* Index  */

.clients-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.clients-container h1 {
    font-size: 20px;
    font-weight: 400;
    color: #272727;
}

span {
    display: flex;
    align-items: center;
    color: #085FCE;
}

span i {
    margin-right: 10px;
}

#clients-table-container {
    margin-top: 50px;
}