.clients-container {
    width: 84%;
    margin-top: -650px;
    margin-left: 195px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Index  */

.clients-container h1 {
    font-size: 20px;
    font-weight: 400;
    color: #272727;
}


span {
    display: flex;
    align-items: center;
    color: #085FCE;
}

span i {
    margin-right: 10px;
}

/* Create  */

#breadcrumbs-item {
    display: inline-block;
}

.form-clients-container {
    width: 84%;
    height: 75vh;
    background-color: #FFF;
    margin-top: 25px;
    margin-left: 195px;
    border: 1px solid rgba(219, 219, 219, 0.3);
    border-radius: 10px;
    padding: 25px;
}

.mb-3 {
    width: 80% !important;
}